/* Variables */
:root{
  --defaultFontSize: 100%;

  --defaultLineHeight: 1.5;

  --firstFontFamily: 'Poppins', sans-serif;
  --secondFontFamily: 'Roboto', sans-serif;
  --thirdFontFamily: 'New Tegomin', serif;

  --defaultSpace: 1.5rem;
  --defaultSpaceLeftRight: 0 1.5rem;
  --defaultSpaceTopBottom: 1.5rem 0;

  --firstColor: #000000;
  --secondColor: #ff9900;
  --thirdColor: #fefefe;
  --fourthColor: #1b1b1b;
  --fifthColor: #1e0030;

  --defultWidth: 100vw;
  --defultHeight: 100vh;
}


/* Remove defaults stylings */
*, *::before, *::after{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: var(--secondColor);
  font-family: var(--firstFontFamily);
  box-sizing: border-box;
  line-height: var(--defaultLineHeight);
}

h2, h3, h4{
  text-align: center;
  font-family: var(--thirdFontFamily);
  letter-spacing: .0125rem;
  margin: 1rem auto;
}

p > a, strong{
  color: var(--secondColor);
}

svg{
  width: 1.2rem;
}


/* Bodies */
.pages{
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
/* ------------------------------------------------- */




/* Headers */
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--defaultSpaceLeftRight);
  background-color: var(--firstColor);
  grid-area: header;
}

.logo{
  font-size: calc(2rem + 18px);
  cursor: pointer;
  font-family: var(--thirdFontFamily);
  color: var(--secondColor);
}
.logo span{
  color: var(--fifthColor);
  font-family: var(--thirdFontFamily);
}

.menuNav{
  width: 50vw;
  padding: calc(var(--defaultSpace) - 1.3rem);
}

.menuList{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menuItem{
  margin: .0625rem;
}

.menuLink{
  padding: .1rem 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  transition: all .7s ease-in-out;
}

.menuLink:hover{
  background-color: var(--fourthColor);
}
/* ---------------------------------------------------------- */





/* Sections */
.mainSection{
  flex: 1;
  display: flex;
  background-color: var(--fourthColor);
  grid-area: mainSection;
}
.mainSection img, .mainSection video{
  width: 50%;
  padding: 1rem;
  transition: all .5s ease-in-out;
  cursor: pointer;
  outline: none;
}
.mainSection img:hover, .mainSection video:hover{
  background-color: var(--firstColor);
}

video::cue{
  background: #000000;
  color: rgb(207, 128, 0);
  font-size: calc(.2rem + 16px);
  padding: 3rem 2rem;
}

video::cue(b){
  color: peachpuff;
}

.landindContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.landindContainer h1{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: .1rem .1rem .125rem var(--firstColor);
}
.landindContainer p{
  font-size: 1.2rem;
  text-align: justify;
  text-shadow: .1rem .1rem .125rem var(--firstColor);
}
.landindContainer a{
  margin: 1.5rem auto;
  padding: .2rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  background-color: var(--fifthColor);
  text-shadow: .1rem .1rem .125rem var(--firstColor);
}
/* ---------------------------------------------------------- */





/* Footers */
.footer{
  background-color: var(--firstColor);
  grid-area: footer;
  text-align: center;
  padding: calc(var(--defaultSpace) - 1rem);
  z-index: 1;
}
/* ---------------------------------------------------------- */






@media only screen and (max-width: 768px){
  
  /* Headers */
  .header{
    flex-direction: column;
    padding: 0;
  }

  .menuNav{
    width: 100%;
    margin-top: 1rem;
    padding: 0;
  }

  .menuList{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .menuItem{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menuLink{
    width: 100%;
    border-radius: 0;
    text-align: center;
    padding: .1rem 1rem;
    border-bottom: .125rem solid var(--fifthColor);
  }
  
  .menuLink:hover{
    color: var(--thirdColor);
    background-color: transparent;
    border-bottom: .125rem solid var(--secondColor);
  }
  /* ---------------------------------------------------------- */





  /* Sections */
  .mainSection{
    flex: 1;
    display: flex;
    flex-flow: column-reverse;
    background-color: var(--fourthColor);
  }
  .mainSection img, .mainSection video{
    width: 100vw;
    margin: 0 auto;
  }
  .mainSection img:hover, .mainSection video:hover{
    background-color: var(--fifthColor);
  }
  .landindContainer{
    padding: 1.5rem;
    min-height: 40vh;
  }
  .landindContainer h1{
    width: 75vw;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .landindContainer p{
    font-size: 1.2rem;
    text-align: justify;
    width: 85vw;
  }
  .landindContainer a{
    background-color: var(--firstColor);
  }
  /* ---------------------------------------------------------- */
}






@media only screen and (max-width: 480px){
  
  /* Headers */
  .header{
    flex-direction: column;
    padding: 0;
  }
  
  .menuNav{
    width: 100%;
    height: 20vh;
    margin-top: 1rem;
    background-color: rgb(19, 12, 12);
    padding: 0;
  }
  
  .menuList{
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  
  .menuItem{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .menuLink{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    text-align: center;
    background-color: var(--firstColor);
    border: none;
  }

  .menuLink:hover{
    background-color: var(--fifthColor);
    color: var(--secondColor);
    border: none;
  }
  /* ---------------------------------------------------------- */




  /* Sections */
  .mainSection{
    flex: 1;
    display: flex;
    background-color: var(--fourthColor);
  }
  
  .mainSection img, .mainSection video{
    min-height: 50vh;
  }
  .mainSection img:hover, .mainSection video:hover{
    background-color: var(--secondColor);
  }
  .landindContainer{
    background-color: var(--firstColor);
  }
  .landindContainer h1{
    width: 75vw;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--thirdColor);
  }
  .landindContainer p{
    font-size: 1.4rem;
    text-align: justify;
    width: 85vw;
    margin: .5rem auto;
    color: var(--thirdColor);
  }
  .landindContainer a{
    background-color: var(--fourthColor);
    font-size: 1.2rem;
    margin-top: 2.5rem;
  }
  /* ---------------------------------------------------------- */




  /* Footers */
  .footer{
    text-align: center;
    padding: 1rem var(--defaultSpace);
    background-color: var(--fourthColor);
  }
/* ---------------------------------------------------------- */

}
