<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    <system.web>

    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <staticContent>
            <remove fileExtension=".mkv" />
            <remove fileExtension=".mp4" />
            <remove fileExtension=".ogg" />
            <remove fileExtension=".webm" />

            <mimeMap fileExtension=".mkv" mimeType="video/mkv" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />

            <clientCache cacheControlMode="UseMaxAge" cacheControlMax="365:00:00" />
            
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />

            <remove fileExtension=".vtt" />
            <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
        </staticContent>
    </system.webServer>
</configuration>
